<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<appSettings>
		<add key="filePath" 
			 value="C:\Users\jppi\OneDrive - GFT Technologies SE\Documents\Josep\TournamentTracker"/>
	</appSettings>
	
	<connectionStrings>
		<add name="Tournaments" 
			 connectionString="Server=ESPC013513\SQLEXPRESS;Database=Tournaments;Trusted_Connection=True;" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="7.0" sku=".NETFramework,Version=v7.0.400"/>
	</startup>
</configuration>